/node_modules
/web/node_modules
/dist
/doc
/testscripts*
/.nyc_output
/test.js
/Gulpfile.js
/coverage
/test/mockdate.js
/.npmignore


## Git
/.git
/.gitignore

## Docker
Dockerfile
/.dockerignore

## macOS
.DS_Store
.AppleDouble
.LSOverride
._*
