node_modules
.idea
.DS_Store
coverage
.nyc_output
.cache
dist/web
web/node_modules
!test/testscripts/node_modules/
!test/testscripts/node_modules/**
test/testscripts/test-reload-cleanup.js
