[Unit]
Description=Smart Home Engine (she)
Documentation=https://github.com/hobbyquaker/she
After=network-online.target
Wants=network-online.target

[Service]
User=she
Group=she
Restart=on-failure
RestartSec=5s
TimeoutStopSec=3
KillMode=mixed

ExecStart=/usr/local/bin/she --data-dir /var/lib/she

ReadWritePaths=/var/lib/she

[Install]
WantedBy=multi-user.target
